.Home {
    display: flex;
    flex-direction: column;
    font-family: inter;
}

.imgInicio {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgInicio img {
    width: 100%;
    height: 40em;
    object-fit: cover;
    z-index: 2;
    filter: brightness(0.5);
}

.cont {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1em;
    border-radius: 1em;
}

.cont p {
    color: white;
    font-size: 45px;
    text-shadow: 0 0 7px #727272, 0 0 10px #535353, 0 0 21px #5d5d5d, 0 0 92px rgb(73, 77, 75), 0 0 102px rgb(73, 77, 75), 0 0 151px rgb(73, 77, 75);
}

.btn {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
    margin-top: 2em;
   }
   
   .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .btn::after {
    background-color: #fff;
   }
   
   .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }

@media (max-width: 1000px) {
    .cont{
        scale: 0.9;
    }

    .cont p {
        font-size: 35px;
    }
}

@media (max-width: 600px) {
    .imgInicio img{
        height: 30em;
    }
}