.Home {
    display: flex;
    flex-direction: column;
    font-family: inter;
}

.imgInicio {
    display: flex;
    align-items: center;
    justify-content: center;
}

.telaInicio video {
    max-width: 100vh;
}

video,
source {
    width: 100%;
    object-fit: cover;
    height: 40em;
}

@media (max-width: 600px) {
    .imgInicio img {
        height: 30em;
    }
}