.Header {
    border-top: 0.2px solid rgb(45, 45, 45);
    background-color: black;
    font-family: inter;
    display: flex;
}

.links {
    height: 3em;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links a {
    text-decoration: none;
}

.links p {
    color: rgb(198, 198, 198);
    transition: 0.5s;
    font-size: 12px;
}

.links p:hover {
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(73, 77, 75), 0 0 82px rgb(73, 77, 75), 0 0 92px rgb(73, 77, 75), 0 0 102px rgb(73, 77, 75), 0 0 151px rgb(73, 77, 75);
}

.bloco {
    width: 50%;
    height: 3em;
}

@media (max-width: 1200px) {
    .links {
        justify-content: space-around;
        width: 100%;
    }

    .bloco {
        display: none;
    }
}

@media (max-width: 500px) {
    .links {
        justify-content: space-around;
        width: 100%;
    }

    .links p {
        font-size: 10px;
    }
}