.BarTop {
    background-color: black;
    height: 6em;
    padding: 0em 7em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: inter;
    border-bottom: solid 0.2px rgb(45, 45, 45);
}

.logo {
    width: 4em;
    height: auto;
}

p {
    margin-bottom: 0px;
}


.logoLink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.logoLink a {
    text-decoration: none;
}

.logoLink p {
    color: rgb(198, 198, 198);
    transition: 0.5s;
}

.logoLink p:hover {
    color: rgb(255, 255, 255);
}

.login {
    width: 1em;
    height: auto;
    filter: invert(100%);
    transition: 0.5s;
    cursor: pointer;
}

.login:hover {
    width: 1em;
    height: auto;
    filter: invert(100%);
    scale: 1.2;
}

.inputLogin {
    width: 65em;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2em;
}

.inputLogin input {
    background-color: rgb(34, 34, 34);
    border: none;
    width: 16em;
    height: 2.5em;
    padding: 0.5em;
    transition: 0.5s;
    color: white;
}

.inputLogin a {
    text-decoration: none;
}

.inputLogin p {
    color: rgb(198, 198, 198);
    transition: 0.5s;
    font-size: 12px;
}

.inputLogin p:hover {
    color: rgb(255, 255, 255);
}

.divMobile {
    width: 10px;
    height: 10px;
}

.ModalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background: rgb(39, 39, 39);
    color: rgb(198, 198, 198);
}

.ModalBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    background: rgb(0, 0, 0);
}

.ModalBody button {
    width: 100%;
    height: 50px;
}

/* From Uiverse.io by Madflows */
.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: rgb(39, 39, 39);
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button:hover::before {
    transform: scaleX(1);
}

.buttonContent {
    position: relative;
    z-index: 1;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(82.3deg,
            rgba(150, 93, 233, 1) 10.8%,
            rgba(99, 88, 238, 1) 94.3%);
    transition: all 0.475s;
}


@media (max-width: 1200px) {
    .logoLink a {
        display: none;
    }

}

@media (max-width: 900px) {
    .inputLogin a {
        display: none;
    }
}

@media (max-width: 600px) {
    .BarTop {
        padding: 0em 2em;
    }

    .logo {
        width: 3.5em;
    }

    .BarTop {
        gap: 6em;
    }

    .inputLogin {
        width: 15px;
    }

    .inputLogin input {
        display: none;
    }
}