.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3% 0%;
}

.title {

    width: 100%;
    padding: 2% 10%;
}

.cards {
    width: min-content;
    height: min-content;
    display: flex;
    gap: 2%;
}

@media (max-width: 1300px) {
    .title {
        font-size: 16px;
        display: flex;
        justify-content: center;
        padding: 4% 0%;
    }

    .cards {
        width: 100%;
        max-width: 100vh;
        gap: 5%;
        overflow-x: auto;
        white-space: nowrap;
        padding: 0px 50px;
    }
}