.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3% 0%;
}

.title {

    width: 100%;
    padding: 2% 10%;
}

.cards {
    width: min-content;
    height: min-content;
    display: flex;
    gap: 2%;

}

@media (max-width: 1100px) {}

@media (max-width: 600px) {
    .title {
        font-size: 16px;
        display: flex;
        justify-content: center;
        padding: 4% 0%;
    }

    .cards {
        flex-wrap: wrap;
    }
}